﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SinEx</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SinEx", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin Services<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Shipment Activity", "Create", "ShipmentTrackings")</li>
                            <li>@Html.ActionLink("Shipment Pickup", "EmployeeEdit", "Shipments")</li>
                            <li>@Html.ActionLink("Add City", "Create", "Destinations")</li>
                            <li>@Html.ActionLink("Change Fee", "NewEdit", "ServicePackageFees")</li>
                            <li>@Html.ActionLink("Change Currency", "NewEdit", "Currencies")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Cities Served", "Index", "Destinations")</li>
                            <li>@Html.ActionLink("Package Types", "Index", "PackageTypes")</li>
                            <li>@Html.ActionLink("Service Served", "Index", "ServiceTypes")</li>
                            <li>@Html.ActionLink("Fees", "Index", "ServicePackageFees")</li>
                            <li>@Html.ActionLink("Currencies", "Index", "Currencies")</li>
                            <li>@Html.ActionLink("Estimate Cost", "GetPackageCost", "ServicePackageFees")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Shipping History", "GenerateHistoryReport", "Shipments")</li>
                            <li>@Html.ActionLink("Invoice History", "GenerateInvoiceReport", "Shipments")</li>
                        </ul>
                    </li>
                    @if (User.IsInRole("Customer") || User.IsInRole("Employee"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shipments<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Shipments", "Index", "Shipments")</li>
                            </ul>
                        </li>
                    }
                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tools<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Shipment Tracking", "Shipmenttracking", "ShipmentTrackings")</li>
                            @if (User.IsInRole("Employee"))
                            {
                                <li>@Html.ActionLink("Edit Shipments", "EmployeeEdit", "Shipments")</li>
                            }
                            @if (User.IsInRole("Customer"))
                            {
                                <li>@Html.ActionLink("Recipient Address", "Index", "RecipientAddresses")</li>
                                <li>@Html.ActionLink("Pickup Location", "Index", "PickupLocations")</li>
                            }
                        </ul>
                    </li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr/>
        <footer>
            <p>&copy; @DateTime.Now.Year - TEAM 106</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
