﻿@model SinExWebApp20256966.ViewModels.RegisterCustomerViewModel
<div class="form-group">
    @Html.LabelFor(m => m.LoginInformation.UserName, new { @class = "col-md-2 control-label" })
    <div class="col-md-4">
        @Html.TextBoxFor(m => m.LoginInformation.UserName, new { @class = "form-control", @maxlength ="10" })
        @Html.ValidationMessageFor(m => m.LoginInformation.UserName, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.LoginInformation.Password, new { @class = "col-md-2 control-label" })
    <div class="col-md-4">
        @Html.PasswordFor(m => m.LoginInformation.Password, new { @class = "form-control", @maxlength = "15" })
        @Html.ValidationMessageFor(m => m.LoginInformation.Password, "", new { @class = "text-danger" })
    </div>
    @Html.LabelFor(m => m.LoginInformation.ConfirmPassword, new { @class = "col-md-2 control-label" })
    <div class="col-md-4">
        @Html.PasswordFor(m => m.LoginInformation.ConfirmPassword, new { @class = "form-control", @maxlength = "15" })
        @Html.ValidationMessageFor(m => m.LoginInformation.ConfirmPassword, "", new { @class = "text-danger" })
    </div>
</div>