﻿@model SinExWebApp20256966.ViewModels.RegisterCustomerViewModel
        <div class="row">
        <div class="form-group col-md-12">
            @Html.LabelFor(model => model.BusinessInformation.ContactPersonName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BusinessInformation.ContactPersonName, new { htmlAttributes = new { @class = "form-control", @maxlength = "70" } })
                @Html.ValidationMessageFor(model => model.BusinessInformation.ContactPersonName, "", new { @class = "text-danger" })
            </div>
        </div>
        </div>

        <div class="col-md-offset-1"><p>Please input Contact name in English Correctly. <span style="color:red">white-space , . '</span> are allowed.</p></div>
        <div class="col-md-offset-1"><p>If your name contains number, please also input its correspoding English, e.g. 3rd = third.</p></div>

        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.BusinessInformation.CompanyName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BusinessInformation.CompanyName, new { htmlAttributes = new { @class = "form-control", @maxlength = "40" } })
                    @Html.ValidationMessageFor(model => model.BusinessInformation.CompanyName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.BusinessInformation.Department, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BusinessInformation.Department, new { htmlAttributes = new { @class = "form-control", @maxlength = "30" } })
                    @Html.ValidationMessageFor(model => model.BusinessInformation.Department, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-md-offset-1"> <p>According to International Comapny Name Standard, please input your company name in English Correctly. <span style="color:red">Limited special characters</span> are allowed. </p></div>

        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.BusinessInformation.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BusinessInformation.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @minlength = "8", @maxlength = "14" } })
                    @Html.ValidationMessageFor(model => model.BusinessInformation.PhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.BusinessInformation.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BusinessInformation.Email, new { htmlAttributes = new { @class = "form-control", @maxlength = "30" } })
                    @Html.ValidationMessageFor(model => model.BusinessInformation.Email, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <hr />
        <h4>Address Information</h4>
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.BusinessInformation.AddressBuilding, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BusinessInformation.AddressBuilding, new { htmlAttributes = new { @class = "form-control", @maxlength = "70" } })
                    @Html.ValidationMessageFor(model => model.BusinessInformation.AddressBuilding, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.BusinessInformation.AddressStreet, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BusinessInformation.AddressStreet, new { htmlAttributes = new { @class = "form-control", @maxlength = "35" } })
                    @Html.ValidationMessageFor(model => model.BusinessInformation.AddressStreet, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.BusinessInformation.AddressCity, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BusinessInformation.AddressCity, new { htmlAttributes = new { @class = "form-control", @maxlength = "25" } })
                    @Html.ValidationMessageFor(model => model.BusinessInformation.AddressCity, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.BusinessInformation.AddressProvinceCode, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BusinessInformation.AddressProvinceCode, new { htmlAttributes = new { @class = "form-control", @minlength = "2", @maxlength = "2" } })
                    @Html.ValidationMessageFor(model => model.BusinessInformation.AddressProvinceCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.BusinessInformation.AddressPostalCode, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BusinessInformation.AddressPostalCode, new { htmlAttributes = new { @class = "form-control", @minlength = "5", @maxlength = "6" } })
                    @Html.ValidationMessageFor(model => model.BusinessInformation.AddressPostalCode, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-md-offset-1"> <p>Please check the avaiable served cities in Service-Destinations. If your current city is not avaiable, please choose the most nearest city. Email us and we will quickly solve it</p></div>
        <div class="col-md-offset-1"> <p>Note that City / Province Code must match. If you input postal code, it must match with Province Code. For example, if Hong Kong or Macau, you may not input it or input 000000.</p></div>
        <div class="col-md-offset-1"> <p>For Taiwan, the first-three digits are enough and the supplementary two digits can be random number if you don't know the exact postal code.</p></div>

        <hr />
        <h4>Credit Card Information</h4>
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.BusinessInformation.CardType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BusinessInformation.CardType, new { htmlAttributes = new { @class = "form-control"} })
                    @Html.ValidationMessageFor(model => model.BusinessInformation.CardType, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.BusinessInformation.CardNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BusinessInformation.CardNumber, new { htmlAttributes = new { @class = "form-control", @minlength = "14", @maxlength = "19" } })
                    @Html.ValidationMessageFor(model => model.BusinessInformation.CardNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.BusinessInformation.CardSecurityNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BusinessInformation.CardSecurityNumber, new { htmlAttributes = new { @class = "form-control", @minlength = "3", @maxlength = "4" } })
                    @Html.ValidationMessageFor(model => model.BusinessInformation.CardSecurityNumber, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.BusinessInformation.CardHolderName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BusinessInformation.CardHolderName, new { htmlAttributes = new { @class = "form-control", @maxlength = "70" } })
                    @Html.ValidationMessageFor(model => model.BusinessInformation.CardHolderName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.BusinessInformation.CardExpireMonth, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BusinessInformation.CardExpireMonth, new { htmlAttributes = new { @class = "form-control", @minlength = "2", @maxlength = "2" } })
                    @Html.ValidationMessageFor(model => model.BusinessInformation.CardExpireMonth, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.BusinessInformation.CardExpireYear, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BusinessInformation.CardExpireYear, new { htmlAttributes = new { @class = "form-control", @minlength = "4", @maxlength = "4" } })
                    @Html.ValidationMessageFor(model => model.BusinessInformation.CardExpireYear, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>