﻿@model SinExWebApp20256966.Models.BusinessShippingAccount

@{
    ViewBag.Title = "Business Shipping Account";
}

<h2>Business Shipping Account</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AddressBuilding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressBuilding)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressStreet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressStreet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressProvinceCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressProvinceCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressPostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressPostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardSecurityNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardSecurityNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardHolderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardHolderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardExpireMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardExpireMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardExpireYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardExpireYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactPersonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPersonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShippingAccountId }) |
    @Html.ActionLink("Back to List", "Index", "Manage")
</p>
