﻿@model SinExWebApp20256966.ViewModels.ShipmentCostViewModel

@{
    ViewBag.Title = "Estimate Cost";
}
<h2>Estimate Cost</h2>
@using (Html.BeginForm("getCost", "ServicePackageFees", FormMethod.Get))
{
    @Html.LabelFor(a => a.CurrencyCode, "Currency Code:")
    @Html.DropDownListFor(a => a.CurrencyCode, Model.CurrencyCodes, "Please select")
    @Html.LabelFor(a => a.Origin, "Origin:")
    @Html.DropDownListFor(a => a.Origin, Model.Origins, "Please select")
    @Html.LabelFor(a => a.Destination, "Destination:")
    @Html.DropDownListFor(a => a.Destination, Model.Destinations, "Please select")
    @Html.LabelFor(a => a.Package, "Package Type:")
    @Html.DropDownListFor(a => a.Package, Model.PackageTypeList, "Please select")
    @Html.LabelFor(a => a.Size, "Package Size:")
    @Html.DropDownListFor(a => a.Size, Model.Sizes, "Please select")
    @Html.LabelFor(a => a.Service, "Service Type:")
    @Html.DropDownListFor(a => a.Service, Model.ServiceTypesList, "Please select")
    @Html.LabelFor(a => a.Weight, "Weight:")
    @Html.TextBoxFor(a => a.Weight, "Plese Input in kg")
    <input type="submit" value="Calculate Cost" />
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CurrencyCode)
        </th>
        <th>@Html.DisplayNameFor(model => model.Origin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Service)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Package)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
    </tr>
    <tr>
        <td>@Html.DisplayFor(model => model.CurrencyCode)
        </td>
        <td>@Html.DisplayFor(model => model.Origin)
        </td>
        <td>
            @Html.DisplayFor(model => model.Destination)
        </td>
        <td>
            @Html.DisplayFor(model => model.Service)
        </td>
        <td>
            @Html.DisplayFor(model => model.Package)
        </td>
        <td>
            @Html.DisplayFor(model => model.Size)
        </td>
        <td>
            @if (ViewBag.status == 1)
            {
                <span>@Html.DisplayFor(model => model.Weight) kg</span>
            } else
            {
                <span>Not Appliable</span>
            }
        </td>
        <td>
            @if (ViewBag.status == 1)
            {
                @ViewBag.codesign @Html.DisplayFor(model => model.Cost)
            } else
            {
                <span>Not Appliable</span>
            }
        </td>
    </tr>
</table>

<hr/>
<ul> Notice:
    <li>Please input full information, if you miss at least one piece of information, you will get the result.</li>
    <li>Your package type and package size must match, otherwise, you can not calculate the size.</li>
    <li>Your input in Weight is calculated in "kg", please input correctly.</li>
</ul>
<p>
    If a package is over the weight limit for that package type. a ¥500.00 penalty charge should be applied to each overweight package.
</p>