﻿@model SinExWebApp20256966.ViewModels.CostCalculationViewModel

@{
    ViewBag.Title = "Get Package Cost";
}

<h2>Get Package Cost</h2>

@{
    if (ViewBag.result != true)
    {
        using (Html.BeginForm("GetPackageCost", "ServicePackageFees", FormMethod.Get))
        {
            <h4>Complete 4 selection to go to next step.</h4>

            @Html.LabelFor(a => a.origin, "Origin:    ")
            @Html.DropDownListFor(a => a.origin, Model.Origins, "Please select", new { @class = "form-control" })
            @Html.LabelFor(a => a.destination, "Destination:    ")
            @Html.DropDownListFor(a => a.destination, Model.Destinations, "Please select", new { @class = "form-control" })
            @Html.LabelFor(a => a.Currency, "Currency:    ")
            @Html.DropDownListFor(a => a.Currency, Model.CurrencyCodes, "Please select", new { @class = "form-control" })
            @Html.LabelFor(a => a.ServiceType, "Serivce Type:    ")
            @Html.DropDownListFor(a => a.ServiceType, Model.ServiceTypes, "Please select", new { @class = "form-control" })
            <input type="submit" name="submit" class="btn btn-default" value="Submit Your Shipment Information" />

        }
    }
    if (ViewBag.result == true)
    {
        if (ViewBag.calculation == false)
        {
            using (Html.BeginForm("GetPackageCost", "ServicePackageFees", FormMethod.Get))
            {
                <h4>You should make sure all the input is correct!</h4>
                <h4>Once you've created a package, you cannot make any further modification to it.</h4>
                <h4>Once you've chosen to calculate the total cost, you cannot go back.</h4>
                <h4>Any of your weight input for an envelope package will be ignored(Actually you don't need to input anything).</h4>
                <h4>For safety reasons, please don't add a package weights larger than 100kg.</h4>
                IList<string> temp_package = ViewBag.packageinfo;
                IList<string> temp_weight = ViewBag.weightinfo;

                @Html.LabelFor(a => a.origin, "Origin:    ")
                @Html.TextBoxFor(a => a.origin, new { @class = "form-control", @readonly = "readonly" })
                @Html.LabelFor(a => a.destination, "Destination:    ")
                @Html.TextBoxFor(a => a.destination, new { @class = "form-control", @readonly = "readonly" })
                @Html.LabelFor(a => a.Currency, "Currency:    ")
                @Html.TextBoxFor(a => a.Currency, new { @class = "form-control", @readonly = "readonly" })
                @Html.LabelFor(a => a.ServiceType, "Serivce Type:    ")
                @Html.TextBoxFor(a => a.ServiceType, new { @class = "form-control", @readonly = "readonly" })
                @Html.LabelFor(a => a.PackageNumber, "Number of packages in your shipment now:    ")
                @Html.TextBoxFor(a => a.PackageNumber, new { @class = "form-control", @Value = ViewBag.packagenumber, @readonly = "readonly" })

                for (int i = 1; i <= ViewBag.packagenumber; i++)
                {
                    string pt = "Your " + i + "th Package Type: ";
                    string pw = "Your " + i + "th Package Weight: ";
                    @Html.Label(pt)
                    @Html.TextBoxFor(a => a.PackageInfo[i - 1], new { @class = "form-control", @Value = temp_package[i - 1], @readonly = "readonly" })
                    @Html.Label(pw)
                    @Html.TextBoxFor(a => a.WeightInfo[i - 1], new { @class = "form-control", @Value = temp_weight[i - 1], @readonly = "readonly" })
                }

                int ii = ViewBag.packagenumber + 1;
                string PT = "Your " + ii + "th Package Type: ";
                string PW = "Your " + ii + "th Package Weight: ";
                if (ViewBag.packagenumber != 10)
                {
                    @Html.Label(PT)
                    @Html.DropDownListFor(a => a.PackageInfo[ii - 1], Model.Sizes, "Please select", new { @class = "form-control" })
                    @Html.Label(PW)
                    @Html.TextBoxFor(a => a.WeightInfo[ii - 1], new { @class = "form-control" })
                    <input type="submit" name="submit" class="btn btn-default" value="Create a package" />
                }
                
                <input type="submit" name="submit" class="btn btn-default" value="Stop and calculate total cost" />
            }
        }

        if (ViewBag.calculation == true)
        {
            using (Html.BeginForm("GetPackageCost", "ServicePackageFees", FormMethod.Get))
            {
                List<string> SingleCost = ViewBag.singlecost;
                IList<string> temp_package = ViewBag.packageinfo;
                IList<string> temp_weight = ViewBag.weightinfo;

                <table class="table">
                    <tr>
                        <th>
                            <text>Package Type Size</text>
                        </th>
                        <th>
                            <text>Package Weight</text>
                        </th>
                        <th>
                            <text>Package Cost</text>
                        </th>
                    </tr>

                    @for (int i = 1; i <= ViewBag.packagenumber; i++)
                    {
                        <tr>
                            <td>
                                @temp_package[i - 1]
                            </td>
                            <td>
                                @temp_weight[i - 1]
                            </td>
                            <td>
                                @SingleCost[i - 1]
                            </td>
                        </tr>
                    }
                </table>
                string cost = "Your service Type is " + ViewBag.servicetype + ". The total cost of your packages is " + Convert.ToString(ViewBag.TotalCost) + " " + ViewBag.Currecny;
                @cost

                <input type="submit" name="submit" class="btn btn-default" value="Try Again" />
            }
        }

    }
}

@{
    string msg = ViewBag.msg;
}

@msg

