﻿@model SinExWebApp20256966.ViewModels.ServicePackageFeesViewModel

@{
    ViewBag.Title = "Service/Package Fee";
}
<h2>Service/Package Fee</h2>
@using (Html.BeginForm("Index", "ServicePackageFees", FormMethod.Get))
{
    @Html.LabelFor(a => a.CurrencyCode, "Currency Code:")
    @Html.DropDownListFor(a => a.CurrencyCode, Model.CurrencyCodes, "Please select")
    <input type="submit" value="Change Currency" />
}


<table class="table">
    <tbody>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ServiceTypes)
            </td>
            <td colspan="@Model.PackageTypes.Count">
                @Html.DisplayNameFor(model => model.PackageTypes)
            </td>
        </tr>
        <tr>
            <td></td>
            @foreach (var ptype in Model.PackageTypes)
            {
                <td>
                    @Html.DisplayFor(x => ptype)
                </td>
            }
        </tr>

        @foreach (var stype in Model.ServiceTypes)
        {
            <tr>
                <td>@Html.DisplayFor(x => stype)</td>
                @foreach (var ptype in Model.PackageTypes)
                {
                    foreach (var item in Model.Fees)
                    {
                        if ((item.PackageType.Type == ptype) && (item.ServiceType.Type == stype))
                        {
                            if (ptype == "Envelope")
                            {
                                <td>
                                    <span>@ViewBag.codesign @Html.DisplayFor(x => item.Fee)</span> <span>(@ViewBag.codesign @Html.DisplayFor(x => item.MinimumFee) Min.)</span>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <span>@ViewBag.codesign @Html.DisplayFor(x => item.Fee)/kg</span> <span>(@ViewBag.codesign @Html.DisplayFor(x => item.MinimumFee) Min.)</span>
                                </td>
                            }
                        }
                    }
                }
            </tr>
        }
    </tbody>
  
</table>
<hr />

<span>penalty fee: @ViewBag.penaltyfee</span>

@if (User.IsInRole("Employee"))
{
    @Html.ActionLink("Edit penaltyfee", "Edit", "penaltyfees")
}
@if (User.IsInRole("Employee"))
{
    <p> If you want to change service type fees, please click the link below.</p>
    @Html.ActionLink("Edit", "NewEdit")
}

<p> If you want to estimation the cost, please click the link below.</p>
@Html.ActionLink("Estimate Cost", "GetPackageCost", "ServicePackageFees")
<br />
<p>
    If a package is over the weight limit for that package type, a ¥@ViewBag.penaltyfee penalty charge should be applied to each overweight package.
</p>
