﻿@model SinExWebApp20256966.Models.Destination

@{
    ViewBag.Title = "Edit Served Cities";
}

<h2>Edit Served Cities</h2>
@{
    if (ViewBag.validProvince != null)
    {
        <p style="color:red">@ViewBag.validProvince</p>
    }
    if (ViewBag.validCity != null)
    {
        <p style="color:red">@ViewBag.validCity</p>
    }
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Destination</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.City)

        <div class="form-group">
            @Html.LabelFor(model => model.ProvinceCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProvinceCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProvinceCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
