﻿@model IEnumerable<SinExWebApp20256966.Models.Destination>

@{
    ViewBag.Title = "Destination";
}

<h2>Destination</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProvinceCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProvinceCode)
        </td>
        <!--
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.City }) |
            @Html.ActionLink("Details", "Details", new { id=item.City }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.City })
        </td>
        -->
    </tr>
}
</table>

@if (User.IsInRole("Employee"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
