﻿@model IEnumerable<SinExWebApp20256966.Models.PackageType>

@{
    ViewBag.Title = "Package Types";
}

<h2>Package Types</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
            <br>
            @foreach (var ele in item.PackageTypeSizes)
            {
                <span>(Size: </span>@Html.DisplayFor(eleItem => ele.Size)<span>; Weight limit: @Html.DisplayFor(eleItem => ele.WeightLimit))</span>
                <br>
            }
        </td>
    </tr>
}

</table>
