﻿@model SinExWebApp20256966.Models.PickupLocation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PickupLocation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NickName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NickName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PickupLocationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
