﻿@model IEnumerable<SinExWebApp20256966.Models.PickupLocation>

@{
    ViewBag.Title = "Pickup Location";
}

<h2>Pickup Location</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NickName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NickName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PickupLocationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PickupLocationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PickupLocationID })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
