﻿@model IEnumerable<SinExWebApp20256966.Models.Currency>

@{
    ViewBag.Title = "Currency";
}

<h2>Currency</h2>

<!--
<p>
    @Html.ActionLink("Create New", "Create")
</p>
-->
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CurrencyCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExchangeRate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CurrencyCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExchangeRate)
        </td>
        <td>
            @if (User.IsInRole("Employee"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.CurrencyCode })
            }
            <!--
            @Html.ActionLink("Details", "Details", new { id=item.CurrencyCode }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CurrencyCode })
                -->
        </td>
    </tr>
}

</table>
