﻿@model X.PagedList.PagedList<SinExWebApp20256966.ViewModels.ShipmentsListViewModel>
@using X.PagedList.Mvc

@if (Model.PageCount > 1)
{
    <div class="pager">
        @Html.PagedListPager(Model, page => Url.Action("GenerateInvoiceReport", new
        {
            page,
            ShippingAccountId = ViewBag.ShippingAccountId,
            sortOrder = ViewBag.CurrentSort,
            ShippedStartDate = ViewBag.ShippedStartDate,
            ShippedEndDate = ViewBag.ShippedEndDate,
        }))
        Page @Model.PageNumber of @Model.PageCount
    </div>
}