﻿@model IEnumerable<SinExWebApp20256966.ViewModels.ShipmentsListViewModel>

@if (Model.Any())
{
    <p>The following are the Invoices for the specified account.</p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WaybillId)
            </th>
            <th>
                @Html.ActionLink("ServiceType", "GenerateInvoiceReport", new
           {
               ShippingAccountId = ViewBag.ShippingAccountId,
               sortOrder = ViewBag.ServiceTypeSortParm,
               ShippedStartDate = ViewBag.ShippedStartDate,
               ShippedEndDate = ViewBag.ShippedEndDate,
           })
            </th>
            <th>
               @Html.ActionLink("ShippedDate", "GenerateInvoiceReport", new
          {
              ShippingAccountId = ViewBag.ShippingAccountId,
              sortOrder = ViewBag.ShippedDateSortParm,
              ShippedStartDate = ViewBag.ShippedStartDate,
              ShippedEndDate = ViewBag.ShippedEndDate,
          })
            </th>
            <th>
                @Html.ActionLink("RecipientName", "GenerateInvoiceReport", new
           {
               ShippingAccountId = ViewBag.ShippingAccountId,
               sortOrder = ViewBag.RecipientNameSortParm,
               ShippedStartDate = ViewBag.ShippedStartDate,
               ShippedEndDate = ViewBag.ShippedEndDate,
           })
            </th>
            <th>
                @Html.ActionLink("Origin", "GenerateInvoiceReport", new
           {
               ShippingAccountId = ViewBag.ShippingAccountId,
               sortOrder = ViewBag.OriginSortParm,
               ShippedStartDate = ViewBag.ShippedStartDate,
               ShippedEndDate = ViewBag.ShippedEndDate,
           })
            </th>
            <th>
                @Html.ActionLink("Destination", "GenerateInvoiceReport", new
           {
               ShippingAccountId = ViewBag.ShippingAccountId,
               sortOrder = ViewBag.DestinationSortParm,
               ShippedStartDate = ViewBag.ShippedStartDate,
               ShippedEndDate = ViewBag.ShippedEndDate,
           })
            </th>
            <th>
                @Html.ActionLink("TotalInvoiceAmount", "GenerateInvoiceReport", new
           {
               ShippingAccountId = ViewBag.ShippingAccountId,
               sortOrder = ViewBag.TotalInvoiceAmountSortParm,
               ShippedStartDate = ViewBag.ShippedStartDate,
               ShippedEndDate = ViewBag.ShippedEndDate,
           })
            </th>
    </tr>
        @foreach (var item in Model)
        {
            <tr>
                @{ 
                    var WID = item.WaybillId.ToString("0000000000000000");
                    var SID = item.ShippingAccountId.ToString("000000000000");
                }
                
                <td>
                    @Html.DisplayFor(modelItem => WID)
                    @Html.ActionLink("InvoiceDetails", "InvoiceDetails", new { id = item.WaybillId })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShippedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecipientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Origin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destination)
                </td>
                <td>
                    @ViewBag.TotalAmountCurrency @Html.DisplayFor(modelItem => item.TotalInvoiceAmount)
                </td>
           </tr>
        }
    </table>
}