﻿@model SinExWebApp20256966.ViewModels.ShipmentsSearchViewModel

@using (Html.BeginForm("GenerateHistoryReport", "Shipments", FormMethod.Get))
{

    if ((User.IsInRole("Employee")))
    {
        foreach (var item in Model.ShippingAccounts)
        {
            string s = item.Text;
            string a = Convert.ToInt32(s).ToString("000000000000");
            item.Text = a;
        }

        @Html.LabelFor(a => a.ShippingAccountId, "Shipping Account:")
        @Html.DropDownListFor(a => a.ShippingAccountId, Model.ShippingAccounts, "Please select")
        <input type="submit" value="Search"/>
        @Html.LabelFor(a => a.ShippedStartDates, "Shipped Start Date:")
        @Html.EditorFor(a => a.ShippedStartDate, "Please select")
        @Html.LabelFor(a => a.ShippedEndDates, "Shipped End Date:")
        @Html.EditorFor(a => a.ShippedEndDate, "Please select")
        <input type="submit" value="Search" />
    }
    else
    {
        @Html.LabelFor(a => a.ShippedStartDates, "Shipped Start Date:")
        @Html.EditorFor(a => a.ShippedStartDate, "Please select")
        @Html.LabelFor(a => a.ShippedEndDates, "Shipped End Date:")
        @Html.EditorFor(a => a.ShippedEndDate, "Please select")
        <input type="submit" value="Search" />
    }

}