﻿@model IEnumerable<SinExWebApp20256966.ViewModels.ShipmentsListViewModel>

@if (Model.Any())
{
    <p>The following are the shipments for the specified account.</p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WaybillId)
            </th>
            <th>
                @Html.ActionLink("ServiceType", "GenerateHistoryReport", new
           {
               ShippingAccountId = ViewBag.ShippingAccountId,
               sortOrder = ViewBag.ServiceTypeSortParm,
               ShippedStartDate = ViewBag.ShippedStartDate,
               ShippedEndDate = ViewBag.ShippedEndDate,
           })
            </th>
            <th>
               @Html.ActionLink("ShippedDate", "GenerateHistoryReport", new
          {
              ShippingAccountId = ViewBag.ShippingAccountId,
              sortOrder = ViewBag.ShippedDateSortParm,
              ShippedStartDate = ViewBag.ShippedStartDate,
              ShippedEndDate = ViewBag.ShippedEndDate,
          })
            </th>
            <th>
                @Html.ActionLink("DeliveredDate", "GenerateHistoryReport", new
           {
               ShippingAccountId = ViewBag.ShippingAccountId,
               sortOrder = ViewBag.DeliveredDateSortParm,
               ShippedStartDate = ViewBag.ShippedStartDate,
               ShippedEndDate = ViewBag.ShippedEndDate,
           })
            </th>
            <th>
                @Html.ActionLink("RecipientName", "GenerateHistoryReport", new
           {
               ShippingAccountId = ViewBag.ShippingAccountId,
               sortOrder = ViewBag.RecipientNameSortParm,
               ShippedStartDate = ViewBag.ShippedStartDate,
               ShippedEndDate = ViewBag.ShippedEndDate,
           })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfPackages)
            </th>
            <th>
                @Html.ActionLink("Origin", "GenerateHistoryReport", new
           {
               ShippingAccountId = ViewBag.ShippingAccountId,
               sortOrder = ViewBag.OriginSortParm,
               ShippedStartDate = ViewBag.ShippedStartDate,
               ShippedEndDate = ViewBag.ShippedEndDate,
           })
            </th>
            <th>
                @Html.ActionLink("Destination", "GenerateHistoryReport", new
           {
               ShippingAccountId = ViewBag.ShippingAccountId,
               sortOrder = ViewBag.DestinationSortParm,
               ShippedStartDate = ViewBag.ShippedStartDate,
               ShippedEndDate = ViewBag.ShippedEndDate,
           })
            </th>
    </tr>
        @foreach (var item in Model)
        {
            <tr>
                @{
                    var WID = item.WaybillId.ToString("0000000000000000");
                    var SID = item.ShippingAccountId.ToString("000000000000");
                }
                <td>
                    @Html.DisplayFor(modelItem => WID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShippedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveredDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecipientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfPackages)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Origin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destination)
                </td>
           </tr>
        }
    </table>
}