﻿@model SinExWebApp20256966.ViewModels.ShipmentConfirmationViewModel

@{
    ViewBag.Title = "Confirm";
}

<script>
    function myfunction() {
        var x = document.getElementById("PickUpType");
        var y = document.getElementById("date");

        if (x.options[x.selectedIndex].value == "immediate") {
            y.style.display = "none";
        }
        if (x.options[x.selectedIndex].value == "prearranged") {
            y.style.display = "";
        }
    }

    function fun() {
        var y = document.getElementById("locate");
        var x = document.getElementById("PickUpLocationNickname");
        
        if (x.options[x.selectedIndex].value != "") {
            y.style.display = "none";
        }
        else {
            y.style.display = "";
        }
        
    }
</script>



<h2>Confirm</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.PickupLocationNickname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PickUpLocationNickname", null, "Please Select:", htmlAttributes: new { @class = "form-control", @onmouseout = "fun()" })
                @Html.ValidationMessageFor(model => model.PickupLocationNickname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="locate" >
            @Html.LabelFor(model => model.NewPickupLocation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NewPickupLocation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NewPickupLocation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PickupType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PickUpType", null, "Please Select:", htmlAttributes: new { @class = "form-control", @onmouseout = "myfunction()" })
                @Html.ValidationMessageFor(model => model.PickupType, "", new { @class = "text-danger" })
            </div>
        </div>
        <div id="date" style="display:none">
            <div class="form-group">
                @Html.LabelFor(model => model.PickupDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PickupDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PickupDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PickupTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PickupTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PickupTime, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-actions no-color">
            <input type="submit" value="Confirm" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
}

@{
    string msg = ViewBag.message;
}

@msg