﻿@model SinExWebApp20256966.ViewModels.CreateShipmentViewModel

@{
    ViewBag.Title = "Create Shipment";
}
<script src="/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="/Scripts/jquery.validate.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script>
    function myfunction() {
        var x = document.getElementById("ShipmentPayer");
        var y = document.getElementById("DutiesTaxesPayer");
        var z = document.getElementById("RecipientAccount");
        if (x.options[x.selectedIndex].value == "Recipient" || y.options[y.selectedIndex].value == "Recipient") {
            z.style.display = "";
        }
        else {
            z.style.display = "none";
        }
        
    }

    function usenickname() {
        var x = document.getElementById("UseSavedAddress");
        var y = document.getElementById("nickname");
        var z = document.getElementById("address");
        if (x.options[x.selectedIndex].value == "Yes") {
            y.style.display = "";
        }
        else {
            y.style.display = "none";
        }
        if (x.options[x.selectedIndex].value == "No") {
            z.style.display = "";
        }
        else {
            z.style.display = "none";
        }
    }
</script>


<div>
    <h4>Sender Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("AccountNo")
        </dt>
        <dd>
            @Html.Display("AccountNo")
        </dd>

        <dt>
            @Html.DisplayName("FullName")
        </dt>
        <dd>
            @Html.Display("FullName")
        </dd>

        <dt>
            @Html.DisplayName("MailingAddress")
        </dt>
        <dd>
            @Html.Display("MailingAddress")
        </dd>

        <dt>
            @Html.DisplayName("PhoneNumber")
        </dt>
        <dd>
            @Html.Display("PhoneNumber")
        </dd>

        <dt>
            @Html.DisplayName("EmailAddress")
        </dt>
        <dd>
            @Html.Display("EmailAddress")
        </dd>
    </dl>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(model => model.ReferenceNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReferenceNumber, new { htmlAttributes = new { @class = "form-control", @maxlength = "10" } })
                @Html.ValidationMessageFor(model => model.ReferenceNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        


        <h4>Recipient Information</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.RecipientName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RecipientName, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.RecipientName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DepartmentName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DepartmentName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DepartmentName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.UseSavedAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UseSavedAddress", null, "Please Select:", htmlAttributes: new { @class = "form-control", @required = "Required", @onmouseout = "usenickname()"})
                @Html.ValidationMessageFor(model => model.UseSavedAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id ="nickname" style="display: none">
            @Html.LabelFor(model => model.RecipientAddressNickName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RecipientAddressNickName", null, "Please Select:", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RecipientAddressNickName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div id="address" style="display: none">
        <div class="form-group">
            @Html.LabelFor(model => model.Building, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Building, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Building, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Street, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Street, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Street, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("City", null, "Please Select:", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PostalCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" , @maxlength = "14" } })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EmailAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                </div>
            </div>

        <h4>Email Notification</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.NotifySender, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("NotifySender", null, "Please Select:", htmlAttributes: new { @class = "form-control", @required = "Required" })
                @Html.ValidationMessageFor(model => model.NotifySender, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NotifyRecipient, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("NotifyRecipient", null, "Please Select:", htmlAttributes: new { @class = "form-control", @required = "Required" })
                @Html.ValidationMessageFor(model => model.NotifyRecipient, "", new { @class = "text-danger" })
            </div>
        </div>


        <h4>Shipment</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.ServiceType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ServiceType", null, "Please Select:", htmlAttributes: new { @class = "form-control", @required = "Required" })
                @Html.ValidationMessageFor(model => model.ServiceType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShipmentPayer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ShipmentPayer", null, "Please Select:", htmlAttributes: new { @class = "form-control", @required = "Required", @onmouseout = "myfunction()" })
                @Html.ValidationMessageFor(model => model.ShipmentPayer, "", new { @class = "text-danger" })
                
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DutiesTaxesPayer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DutiesTaxesPayer", null, "Please Select:", htmlAttributes: new { @class = "form-control", @required = "Required", @onmouseout = "myfunction()" })
                @Html.ValidationMessageFor(model => model.DutiesTaxesPayer, "", new { @class = "text-danger" })
            </div>
        </div>


        
        <div class="form-group" id="RecipientAccount" style="display: none">
            @Html.LabelFor(model => model.RecipientAccountNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RecipientAccountNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RecipientAccountNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        



            <h4>Package</h4>
            <hr />
            <div class="form-group">
                @Html.LabelFor(model => model.PackageNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PackageNumber, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.packagenumber, @readonly = "readonly" } })
                </div>
            </div>

            @for (int i = 0; i < ViewBag.packagenumber; i++)
            {
                <h5>Package @(i+1)</h5>
                <div class="form-group">
                    @Html.Label("Package Type Size", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.TypeSizes[i], Model.TypeSizeList, "Please select", new { @class = "form-control", @required = "Required" })
                        @Html.ValidationMessageFor(model => model.TypeSizes[i], "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Content Description", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ContentDescriptions[i], new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ContentDescriptions[i], "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Weight (kg)", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CustomerWeights[i], new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CustomerWeights[i], "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Package Value", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Values[i], new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Values[i], "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Currency of Value", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.Currencies[i], Model.CurrencyList, "Please select", new { @class = "form-control", @required = "Required" })
                        @Html.ValidationMessageFor(model => model.Currencies[i], "", new { @class = "text-danger" })
                    </div>
                </div>
            }
            @if (ViewBag.packagenumber != 10)
            {
                <input type="submit" name="submit" class="btn btn-default" value="Add a package" />
            }
            @if (ViewBag.packagenumber != 1)
            {
                <input type="submit" name="submit" class="btn btn-default" value="Delete a package" />
            }

            
        <br /><br />
            <h5><font color="red">Please confirm your information before creating.</font></h5>
        <br /><br />
            
        @if (ViewBag.submit != "Edit")
        {
            <input type="submit" name="submit" class="btn btn-default" value="Create" />
        }
        else
        {
            <input type="submit" name="submit" class="btn btn-default" value="Edit" />
        }


        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>       
        </div>
}

@{
    string msg = ViewBag.message;
}

<p style="color:red">@msg</p>
