﻿@model SinExWebApp20256966.Models.Shipment

@{
    ViewBag.Title = "Delete";
}

<h4>Delete</h4>

<div>
    <hr />

    <h4><strong><u>Shipment Information</u></strong></h4>
    <br />
    <dl class="dl-horizontal">
        @{
            var s1 = "Sender user name: ";
            var s2 = "Service Type: ";
            var refer = "Reference Number: ";
        }
        <dt>
            @refer
        </dt>
        <dd>
            @ViewBag.ReferenceNumber
        </dd>
        <dt>
            @s1
        </dt>
        <dd>
            @ViewBag.username
        </dd>
        <dt>
            @s2
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceType)
        </dd>
    </dl>
    <br />

    <h4><strong><u>Recipient Information</u></strong></h4>
    <br />
    <dl class="dl-horizontal">
        @{
            var s3 = "Name: ";
            var s4 = "Building: ";
            var s5 = "Street: ";
            var s6 = "City: ";
            var s7 = "Province: ";
            var s8 = "Postal code: ";
            var s9 = "Telephone: ";
            var s10 = "Email: ";
        }
        <dt>
            @s3
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecipientName)
        </dd>
        <dt>
            @s4
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Building)
        </dd>
        <dt>
            @s5
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt>
            @s6
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @s7
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Province)
        </dd>
        <dt>
            @s8
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt>
            @s9
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @s10
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
    </dl>
    <br />

    <h4><strong><u>Package Information</u></strong></h4>
    <br />
    @{
        var p1 = "Type";
        var p2 = "Description";
        var p3 = "Value";
        var h4 = "Customer Weight";
        var p5 = "Actual Weight";
    }

    <div>
        <table class="table">
            <tr>
                <th>@p1</th>
                <th>@p2</th>
                <th>@p3</th>
                <th>@h4</th>
                <th>@p5</th>
                <th>@ViewBag.costmsg</th>
                <th></th>
            </tr>
            @{
                var num = 0;
                double cos = 0;
            }


            @foreach (var item in Model.Packages)
            {

                string val = item.Currency + " " + Convert.ToString(item.Value);
                cos = ViewBag.packagecost[num];
                num = num + 1;
                string vall = ViewBag.currency + " " + cos;

                <tr>
                    <td>@Html.DisplayFor(modelItem => item.TypeSize)</td>
                    <td>@Html.DisplayFor(modelItem => item.ContentDescription)</td>
                    <td>@val</td>
                    @if (item.CustomerWeight != 0)
                    {
                        <td>@Html.DisplayFor(modelItem => item.CustomerWeight)</td>
                    }
                    else
                    {
                        <td><span>N/A</span></td>
                    }
                    @if (item.ActualWeight != 0)
                    {
                        <td>@Html.DisplayFor(modelItem => item.ActualWeight)</td>
                    }
                    else
                    {
                        <td><span>N/A</span></td>
                    }
                    <td>@vall</td>
                </tr>
            }

        </table>
    </div>
    <br />

    <h4><strong><u>Payer Information</u></strong></h4>
    <br />
    <dl class="dl-horizontal">
        @{
            var aa = "Shipment: ";
            var bb = "Duties & Taxes: ";
        }
        <dt>
            @aa
        </dt>
        <dd>
            @ViewBag.shipmentpayer
        </dd>
        <dt>
            @bb
        </dt>
        <dd>
            @ViewBag.dutypayer
        </dd>

    </dl>
    <br />

    <h4><strong><u>Notification Information</u></strong></h4>
    <br />
    <dl class="dl-horizontal">
        @{
            var n1 = "Notify sender: ";
            var n2 = "Notify recipient: ";
        }
        <dt>
            @n1
        </dt>

        @if (ViewBag.NotifySender == true)
            {
            <dd>Yes</dd> }
            else
            {
            <dd>No</dd> }

        <dt>
            @n2
        </dt>


        @if (ViewBag.NotifyRecipient == true)
            {
            <dd>Yes</dd> }
            else
            {
            <dd>No</dd> }

    </dl>
    <br />
    <h4><strong><u>Payment Information</u></strong></h4>
    <br />
    <dl class="dl-horizontal">
        <dt>
            @ViewBag.costmsg
        </dt>
        <dd>
            @ViewBag.currency  @ViewBag.shipmentcost
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }

</div>
