﻿@model SinExWebApp20256966.Models.Shipment

@{
    ViewBag.Title = "Shipment Details";
}

<h4>Shipment Details</h4>

<div>
    <hr />
    
    <h4><strong><u>Shipment Information</u></strong></h4>
    <br />
    <dl class="dl-horizontal">
        @{
            var s1 = "Sender user name: ";
            var s2 = "Service Type: ";
            var ss = "Waybill Number: ";
            var refer = "Reference Number: ";
        }
        <dt>
            @refer
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReferenceNumber)
        </dd>
        <dt>
            @s2
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceType)
        </dd>
        <dt>
            @ss
        </dt>
        <dd>
            @ViewBag.waybill
        </dd>
    </dl>
    <br />
   

    <div>
        <h4><strong><u>Sender Information</u></strong></h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @s1
            </dt>
            <dd>
                @ViewBag.username
            </dd>
            <dt>
                @Html.DisplayName("AccountNo")
            </dt>
            <dd>
                @Html.Display("AccountNo")
            </dd>

            <dt>
                @Html.DisplayName("FullName")
            </dt>
            <dd>
                @Html.Display("FullName")
            </dd>

            <dt>
                @Html.DisplayName("MailingAddress")
            </dt>
            <dd>
                @Html.Display("MailingAddress")
            </dd>

            <dt>
                @Html.DisplayName("PhoneNumber")
            </dt>
            <dd>
                @Html.Display("PhoneNumber")
            </dd>

            <dt>
                @Html.DisplayName("EmailAddress")
            </dt>
            <dd>
                @Html.Display("EmailAddress")
            </dd>
        </dl>
    </div>
    <br />

    <h4><strong><u>Recipient Information</u></strong></h4>
    <br />
    <dl class="dl-horizontal">
        @{ 
            var s3 = "Name: ";
            var s4 = "Building: ";
            var s5 = "Street: ";
            var s6 = "City: ";
            var s7 = "Province: ";
            var s8 = "Postal code: ";
            var s9 = "Telephone: ";
            var s10 = "Email: ";
        }
        <dt>
            @s3
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecipientName)
        </dd>
        <dt>
            @s4
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Building)
        </dd>
        <dt>
            @s5
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt>
            @s6
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @s7
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Province)
        </dd>
        <dt>
            @s8
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt>
            @s9
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd> 
        <dt>
            @s10
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
    </dl>
    <br />

    <h4><strong><u>Package Information</u></strong></h4>
    <br />
    @{ 
        var p1 = "Type";
        var p2 = "Description";
        var p3 = "Value";
        var h4 = "Customer Weight";
        var p5 = "Actual Weight";
    }   
    
    <div>
        <table class="table">
            <tr>
                <th>@p1</th>
                <th>@p2</th>
                <th>@p3</th>
                <th>@h4</th>
                <th>@p5</th>
                <th>@ViewBag.costmsg</th>
                <th>@ViewBag.actualcostmsg</th>
                <th></th>
            </tr>
            @{ 
                var num = 0;
                double cos = 0;
                double actualcos = 0;
            }
            
            
            @foreach (var item in ViewBag.Packageslist)
            {
                if (item.WaybillId == Model.WaybillId)
                {
                    string val = item.Currency + " " + Convert.ToString(item.Value);
                    cos = ViewBag.packagecost[num];
                    actualcos = ViewBag.actualpackagecost[num];
                    num = num + 1;
                    string vall = ViewBag.currency + " " + cos;
                    string val3 = ViewBag.currency + " " + actualcos;

                <tr>
                    <td>@item.TypeSize</td>
                    <td>@item.ContentDescription</td>
                    <td>@val</td>
                    @if (item.CustomerWeight != 0)
                    {
                        <td>@item.CustomerWeight</td>
                    }
                    else
                    {
                        <td><span>N/A</span></td>
                    }
                    @if (item.ActualWeight != 0)
                    {
                        <td>@item.ActualWeight</td>
                    }
                    else
                    {
                        <td><span>N/A</span></td>
                    }
                    <td>@vall</td>
                    @if (actualcos == 0)
                    {
                        <td>N/A</td>
                    }
                    else
                    {
                        <td>@val3</td>
                    }
                    
                    <td>
                </tr>
                }
            }

        </table>
    </div>
    <br />

    <h4><strong><u>Payer Information</u></strong></h4>
    <br />
    <dl class="dl-horizontal">
    @{ 
        var aa = "Shipment: ";
        var bb = "Duties & Taxes: ";
    }    
        <dt>
            @aa
        </dt>
        <dd>
            @ViewBag.shipmentpayer
        </dd>
        <dt>
            @bb
        </dt>
        <dd>
            @ViewBag.dutypayer
        </dd>
    
    </dl>
    <br />

    <h4><strong><u>Notification Information</u></strong></h4>
    <br />
    <dl class="dl-horizontal">
        @{ 
            var n1 = "Notify sender: ";
            var n2 = "Notify recipient: ";
        }
        <dt>
            @n1
        </dt>

        @if (ViewBag.NotifySender == true)
            {
            <dd>Yes</dd> }
            else
            {
            <dd>No</dd> }

        <dt>
            @n2
        </dt>


        @if (ViewBag.NotifyRecipient == true)
            {
            <dd>Yes</dd> }
            else
            {
            <dd>No</dd> } 
    
    </dl>
    <br />
    <h4><strong><u>Payment Information</u></strong></h4>
    <br />
    <dl class="dl-horizontal">
        <dt>
            @ViewBag.costmsg
        </dt>
        <dd>
            @ViewBag.currency  @ViewBag.shipmentcost
        </dd>   
        <dt>
            @ViewBag.actualcostmsg
        </dt>
        <dd>
            @if (ViewBag.actualshipmentcost > 0)
            {
                @ViewBag.currency @ViewBag.acutalshipmentcost
            }
            else
            {
               <p>N\A</p>
            }
        </dd>   
    </dl>
    
</div>
