﻿@model IEnumerable<SinExWebApp20256966.Models.Shipment>

@{
    ViewBag.Title = "Shipments Management";
}

<h2>Shipment Management</h2>

@{
    if (User.IsInRole("Customer"))
    {
        <p>
            @Html.ActionLink("Create New", "CreateShipment")
        </p>
    }
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReferenceNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShippedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveredDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecipientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfPackages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Origin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReferenceNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServiceType)
        </td>
        @if (item.ShippedDate != new DateTime(2000,01,01))
        {
            <td>
                @Html.DisplayFor(modelItem => item.ShippedDate)
            </td>
        }
        else
        {
            <td>  </td>
        }
        @if (item.DeliveredDate != new DateTime(2000, 01, 01))
        {
            <td>
                @Html.DisplayFor(modelItem => item.DeliveredDate)
            </td>
        }
        else
        {
            <td>  </td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.RecipientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfPackages)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Origin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.WaybillId })
            @if (item.ConfirmStatus == false && User.IsInRole("Customer"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.WaybillId })
                <br />
                @Html.ActionLink("Confirm", "Confirm", new { id = item.WaybillId })
            }
            @if (item.PickupStatus == false && User.IsInRole("Customer"))
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.WaybillId })
            }
           
        </td>
    </tr>
}

</table>

<p>Notice that for Shipped Date, it will display when the shipment is picked up and updated from the shipment tracking system.</p>
