﻿@model SinExWebApp20256966.Models.Shipment

@{
    ViewBag.Title = "Invoice Details";
}

<!--
             /*
             * The invoice should show 
             * the shipping account number of the invoice payer, 
             * shipment waybill number,
             * ship (pickup) date, 
             * service type, 
             * sender’s reference number,
             * sender and recipient information (full name and mailing/delivery address), 
             * credit card type, 
             * credit card number (last four digits only), 
             * the authorization code, 
             * for each package, the package type, 
             * the actual weight and the cost.
             * The monetary amounts of an invoice should be in the currency of the city in which the payer is located
             */   
-->

<h4>Invoice Details</h4>

<div>
    <hr />

    <h2><strong><u>Invoice Information</u></strong></h2>
    <br />
    <hr />

    <h4><strong><u>Invoice Payer Information</u></strong></h4>
    <dl class="dl-horizontal">
        @{
            var cc = "Shipment WaybillID: ";
            var aa = "Shipment Payer: ";
            var bb = "Duties & Taxes Payer: ";
        }
        <dt>
            @cc
        </dt>
        <dd>
            @ViewBag.waybillID
        </dd>
        <dt>
            @aa
        </dt>
        <dd>
            @ViewBag.shipmentpayerID
        </dd>
        <dt>
            @bb
        </dt>
        <dd>
            @ViewBag.dutytaxpayerID
        </dd>
    </dl>
    <br />
    <hr />

    <h4><strong><u>Shipment Information</u></strong></h4>
    <dl class="dl-horizontal">
        @{
            var sw = "Shipment WaybillID: ";
            var pd = "Ship (Pickup) Date: ";
            var st = "Service Type: ";
            var sr = "Reference Number: ";
            var shippeddate = (DateTime)ViewBag.shippeddate;
            var stringdate = shippeddate.ToLongDateString();
        }
        <dt>
            @sw
        </dt>
        <dd>
            @ViewBag.waybillID
        </dd>
        <dt>
            @pd
        </dt>
        <dd>
            @stringdate
        </dd>
        <dt>
            @st
        </dt>
        <dd>
           @Html.DisplayFor(model => model.ServiceType)
        </dd>
        <dt>
            @sr
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReferenceNumber)
        </dd>
    </dl>
    <br />
    <hr />

    <h4><strong><u>Sender's Information</u></strong></h4>
    <dl class="dl-horizontal">
        @{
            var s1 = "Sender FullName: ";
            var s2 = "Sender's Mailing Address: ";
        }
        <dt>
            @s1
        </dt>
        <dd>
            @ViewBag.SenderFullName
        </dd>
        <dt>
            @s2
        </dt>
        <dd>
            @ViewBag.SenderMailing
        </dd>
    </dl>
    <br />
    <hr />

    <h4><strong><u>Recipient's Information</u></strong></h4>
    <dl class="dl-horizontal">
        @{ 
            var s3 = "Recipient Name: ";
            var s4 = "Recipient's Delivery Address: ";
        }
        <dt>
            @s3
        </dt>
        <dd>
            @ViewBag.RecipientFullName
        </dd>
        <dt>
            @s4
        </dt>
        <dd>
            @ViewBag.RecipientDeliver
        </dd>
    </dl>
    <br />
    <hr />

    <h4><strong><u>Package Information</u></strong></h4>
    <br />
    @{
        var p1 = "Type";
        var p5 = "Actual Weight";
    }

    <div>
        <table class="table">
            <tr>
                <th>@p1</th>
                <th>@p5</th>
                <th>@ViewBag.actualcostmsg</th>
                <th></th>
            </tr>
            @{
                var num = 0;
                double cos = 0;
                double actualcos = 0;
            }


            @foreach (var item in ViewBag.Packageslist)
            {
                if (item.WaybillId == Model.WaybillId)
                {
                    string val = item.Currency + " " + Convert.ToString(item.Value);
                    cos = ViewBag.packagecost[num];
                    actualcos = ViewBag.actualpackagecost[num];
                    num = num + 1;
                    string vall = ViewBag.currency + " " + cos;
                    string val3 = ViewBag.currency + " " + actualcos;

                    <tr>
                        <td>@item.TypeSize</td>
                        @if (item.ActualWeight != 0)
                    {
                            <td>@item.ActualWeight</td>
                        }
                        else
                        {
                            <td><span>N/A</span></td>
                        }
                        @if (actualcos == 0)
                    {
                            <td>N/A</td>
                        }
                        else
                        {
                            <td>@val3</td>
                        }

                        <td>
                    </tr>
                }
            }

        </table>
    </div>
    <br />

    <h4><strong><u>Payment Information</u></strong></h4>
    @{
        if (User.IsInRole("Customer"))
        {
            <dl class="dl-horizontal">
                @{
                    var pi1 = "Credit Card Type: ";
                    var pi2 = "Credit Card Number: ";
                    var pi3 = "Authorization Code: ";
                    var pi4 = "Payable Amount: ";
                }
                <dt>
                    @pi1
                </dt>
                <dd>
                    @ViewBag.CreditCardType
                </dd>
                <dt>
                    @pi2
                </dt>
                <dd>
                    @ViewBag.CreditCardNumber
                </dd>
                <dt>
                    @pi3
                </dt>
                <dd>
                    @ViewBag.AuthorizationCode
                </dd>
                <dt>
                    @pi4
                </dt>
                <dd>
                    @ViewBag.PayCurrency @ViewBag.PayAmount
                </dd>
            </dl>
            }
        else if (User.IsInRole("Employee"))
            {
                <dl class="dl-horizontal">
                @{
                    var pj1 = "ShipmentPayer Credit Card Type: ";
                    var pj2 = "ShipmentPayer Credit Card Number: ";
                    var pj3 = "ShipmentPayer Authorization Code: ";
                    var pj4 = "ShipmentPayer Payable Amount: ";
                    var pj5 = "DutyTaxPayer Credit Card Type: ";
                    var pj6 = "DutyTaxPayer Credit Card Number: ";
                    var pj7 = "DutyTaxPayer Authorization Code: ";
                    var pj8 = "DutyTaxPayer Payable Amount: ";
                }
                <dt>
                @pj1
                </dt>
                <dd>
                @ViewBag.ShipmentCreditCardType
                </dd>
                <dt>
                @pj2
                </dt>
                <dd>
                    @ViewBag.ShipmentCreditCardNumber
                </dd>
                <dt>
                    @pj3
                </dt>
                <dd>
                    @ViewBag.ShipmentAuthorizationCode
                </dd>
                <dt>
                    @pj4
                </dt>
                <dd>
                    @ViewBag.ShipmentPayCurrency @ViewBag.ShipmentPayAmount
                </dd>
                <dt>
                    @pj5
                </dt>
                <dd>
                    @ViewBag.DutyTaxCreditCardType
                </dd>
                <dt>
                    @pj6
                </dt>
                <dd>
                    @ViewBag.DutyTaxCreditCardNumber
                </dd>
                <dt>
                    @pj7
                </dt>
                <dd>
                    @ViewBag.DutyTaxAuthorizationCode
                </dd>
                <dt>
                    @pj8
                </dt>
                <dd>
                    @ViewBag.DutyTaxPayCurrency @ViewBag.DutyTaxPayAmount
                </dd>
            </dl>
        }
    }
    
    
</div>
