﻿@model SinExWebApp20256966.Models.ShipmentTracking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ShipmentTracking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Shipment.ReferenceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shipment.ReferenceNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveredTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveredTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeliveredAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeliveredAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ShipmentTrackingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
