﻿@model IEnumerable<SinExWebApp20256966.Models.ShipmentTracking>

@{
    ViewBag.Title = "Shipment Tracking";
}

<h2>Shipment Tracking</h2>

@using (Html.BeginForm())
{
    @Html.Label("Waybill Number")
    @Html.Editor("WaybillNumber", new { @class = "control-label col-md-2" })
    <input type="submit" value="Search" class="btn btn-default"/>
}

@if (Model != null)
{
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Waybill number")
        </dt>
        <dd>
            <span>@ViewBag.Waybillnumber</span>
        </dd>

        <dt>
            @Html.Label("Delivered to")
        </dt>
        <dd>
            <span>@ViewBag.Deliveredto</span>
        </dd>

        <dt>
            @Html.Label("Delivered at")
        </dt>
        <dd>
            <span>@ViewBag.Deliveredat</span>
        </dd>

        <dt>
            @Html.Label("Status")
        </dt>
        <dd>
            <span>@ViewBag.Status</span>
        </dd>

        <dt>
            @Html.Label("Service type")
        </dt>
        <dd>
            <span>@ViewBag.Servicetype</span>
        </dd>

        <dt>
            @Html.Label("Package Type")
        </dt>
        <dd>
            <span>@ViewBag.Packagetype</span>
        </dd>

        <dt>
            @Html.Label("Customer weight")
        </dt>
        <dd>
            <span>@ViewBag.Weight</span>
        </dd>
    </dl>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.Label("Description")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td>
            </tr>
        }

    </table>
    if (Model.Where(c => c.WaybillId == Convert.ToInt32(ViewBag.WaybillId)).LastOrDefault() == null)
    {
        @Html.ActionLink("Modify Trakcing Information", "Create")
    }
    else if (Model.Where(c => c.WaybillId == Convert.ToInt32(ViewBag.WaybillId)).LastOrDefault().Status == null)
    {
        @Html.ActionLink("Modify Trakcing Information", "Create")
    }

}
else
{
    <h5 style="color:red">Please input a correct Waybill Number</h5>
}
