﻿@model SinExWebApp20256966.ViewModels.RegisterCustomerViewModel

        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.PersonalInformation.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.PersonalInformation.FirstName, new { htmlAttributes = new { @class = "form-control", @maxlength = "35" } })
                    @Html.ValidationMessageFor(model => model.PersonalInformation.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.PersonalInformation.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.PersonalInformation.LastName, new { htmlAttributes = new { @class = "form-control", @maxlength = "35" } })
                    @Html.ValidationMessageFor(model => model.PersonalInformation.LastName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-md-offset-1"><p>Please input your name in English Correctly. <span style="color:red">white-space , . '</span> are allowed.</p></div>
        <div class="col-md-offset-1"><p>If your name contains number, please also input its correspoding English, e.g. 3rd = third.</p></div>
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.PersonalInformation.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.PersonalInformation.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @minlength = "8", @maxlength = "14" } })
                    @Html.ValidationMessageFor(model => model.PersonalInformation.PhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.PersonalInformation.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.PersonalInformation.Email, new { htmlAttributes = new { @class = "form-control", @maxlength = "30" } })
                    @Html.ValidationMessageFor(model => model.PersonalInformation.Email, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <hr />
        <h4> Address Infromation</h4>
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.PersonalInformation.AddressBuilding, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PersonalInformation.AddressBuilding, new { htmlAttributes = new { @class = "form-control", @maxlength = "70" } })
                    @Html.ValidationMessageFor(model => model.PersonalInformation.AddressBuilding, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.PersonalInformation.AddressStreet, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PersonalInformation.AddressStreet, new { htmlAttributes = new { @class = "form-control", @maxlength = "35" } })
                    @Html.ValidationMessageFor(model => model.PersonalInformation.AddressStreet, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.PersonalInformation.AddressCity, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PersonalInformation.AddressCity, new { htmlAttributes = new { @class = "form-control", @maxlength = "25" } })
                    @Html.ValidationMessageFor(model => model.PersonalInformation.AddressCity, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.PersonalInformation.AddressProvinceCode, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PersonalInformation.AddressProvinceCode, new { htmlAttributes = new { @class = "form-control", @minlength = "2", @maxlength = "2" } })
                    @Html.ValidationMessageFor(model => model.PersonalInformation.AddressProvinceCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.PersonalInformation.AddressPostalCode, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PersonalInformation.AddressPostalCode, new { htmlAttributes = new { @class = "form-control", @minlength = "5", @maxlength = "6" } })
                    @Html.ValidationMessageFor(model => model.PersonalInformation.AddressPostalCode, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-md-offset-1"> <p>Please check the avaiable served cities in Service-Destinations. If your current city is not avaiable, please choose the most nearest city. Email us and we will quickly solve it</p></div>
        <div class="col-md-offset-1"> <p>Note that City / Province Code must match. If you input postal code, it must match with Province Code. For example, if Hong Kong or Macau, you may not input it or input 000000.</p></div>
        <div class="col-md-offset-1"> <p>For Taiwan, the first-three digits are enough and the supplementary two digits can be random number if you don't know the exact postal code.</p></div>


        <hr />
        <h4> Credit Card Infromation</h4>
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.PersonalInformation.CardType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PersonalInformation.CardType, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PersonalInformation.CardType, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.PersonalInformation.CardNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PersonalInformation.CardNumber, new { htmlAttributes = new { @class = "form-control", @minlength = "14", @maxlength = "19" } })
                    @Html.ValidationMessageFor(model => model.PersonalInformation.CardNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.PersonalInformation.CardSecurityNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PersonalInformation.CardSecurityNumber, new { htmlAttributes = new { @class = "form-control", @minlength = "3", @maxlength = "4" } })
                    @Html.ValidationMessageFor(model => model.PersonalInformation.CardSecurityNumber, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.PersonalInformation.CardHolderName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PersonalInformation.CardHolderName, new { htmlAttributes = new { @class = "form-control", @maxlength = "70" } })
                    @Html.ValidationMessageFor(model => model.PersonalInformation.CardHolderName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.PersonalInformation.CardExpireMonth, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PersonalInformation.CardExpireMonth, new { htmlAttributes = new { @class = "form-control", @minlength = "2", @maxlength = "2" } })
                    @Html.ValidationMessageFor(model => model.PersonalInformation.CardExpireMonth, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.PersonalInformation.CardExpireYear, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PersonalInformation.CardExpireYear, new { htmlAttributes = new { @class = "form-control", @minlength = "4", @maxlength = "4" } })
                    @Html.ValidationMessageFor(model => model.PersonalInformation.CardExpireYear, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>