﻿@model SinExWebApp20256966.Models.PersonalShippingAccount

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PersonalShippingAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AddressBuilding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressBuilding)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressStreet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressStreet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressProvinceCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressProvinceCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressPostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressPostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardSecurityNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardSecurityNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardHolderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardHolderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardExpireMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardExpireMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardExpireYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardExpireYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
