﻿@model IEnumerable<SinExWebApp20256966.Models.PersonalShippingAccount>

@{
    ViewBag.Title = "Index";
}

<h2>Personal Shipping Account</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<h3>Personal Information</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressBuilding)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressStreet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressProvinceCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressPostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardSecurityNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardHolderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardExpireMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardExpireYear)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressBuilding)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressStreet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressProvinceCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressPostalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CardType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CardNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CardSecurityNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CardHolderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CardExpireMonth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CardExpireYear)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ShippingAccountId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ShippingAccountId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ShippingAccountId })
        </td>
    </tr>
}

</table>
