﻿@model SinExWebApp20256966.Models.penaltyfee

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Penalty Fee</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Penaltyfee is stated in CNY</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.penaltyfeeID)

        <div class="form-group">
            @Html.LabelFor(model => model.fee, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fee, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fee, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@Html.ActionLink("Edit Service Type Fee", "NewEdit", "ServicePackageFees")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
